.Person {
	width: 60%;
	margin: 15px auto;
	border: 1px solid #eee;
	-webkit-box-shadow: 0 2px 3px #ccc;
	        box-shadow: 0 2px 3px #ccc;
	padding: 15px;
}

@media (min-width: 500px) {
	.Person {
		width: 450px;
	}
}
